.main-table {
  padding: 10px 40px;
}
.mission-table {
  border-collapse: collapse;
  width: 100%;
}

.mission-table th,
.mission-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
